*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-size: 16px;
  font-family: 'Figtree', sans-serif;
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobiles */
@media screen and (max-width: 390px) {
}

.container {
  width: 345px;
  height: 515px;
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 20px;
  box-shadow: 8px 12px 0px var(--black);
}

.container-header img {
  border-radius: 15px;
  width: 310px;
}

.container-content {
  margin-top: 30px;
}

.container-content p {
  color: gray;
  font-size: 15px;
  margin-top: 10px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.author img {
  width: 35px;
}

.author p {
  margin-top: -1px;
  margin-left: 20px;
  color: var(--black);
  font-weight: 800;
  font-size: 22px;
}

.button {
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

h5 {
  margin-top: 15px;
}

h1 {
  font-size: 25px;
  margin-top: 10px;
}
